@forward "./base/index";
@use "./util/index";

@mixin pera-des($size, $color) {
  font-size: $size;
  color: $color;
}
.btn {
  color: white;
  font-size: 17px;
  padding: 10px 40px;
  margin-top: 20px;
  border: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  nav {
    margin-bottom: 10px;
    text-align: center;
    ul {
      list-style: none;
      li {
        display: inline-block;

        a {
          text-decoration: none;
          padding: 10px 40px;
          font-size: 18px;
        }
        a:hover {
          color: white;
          background-color: black;
        }
      }
    }
  }
  main {
    margin-top: 30px;
    h1 {
      color: index.$header-color;
    }
    .des1 {
      @include pera-des(18px, red);
    }
    .des2 {
      @include pera-des(20px, blue);
    }
    .btn-success {
      @extend .btn;
      background-color: green;
    }
    .btn-danger {
      @extend .btn;
      background-color: red;
    }
  }
}
